html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

.box-top{
  width: 100%;
  margin-top;
  padding: 50px 0px 0px 0px;
  background-color: #485d82;
}

body{
  margin: 0;
}

.images{
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.body{
  width: 320px;
  display: block;
}

.brain{
  position: absolute;
  width: 20%;
  top: 1em;
  right: 40%;
  transition: all 250ms linear;
  /* transition allows for a timed effect */
}

.head-left{
  position: absolute;
  width: 40%;
  top: -2.5em;
  right: 50%;
  transition: all 250ms linear;
  /* transition allows for a timed effect */
}

.head-right{
  position: absolute;
  width: 40%;
  top: -2.5em;
  left: 50%;
  transition: all 250ms linear;
  /* transition allows for a timed effect */
}

.box-bttm{
  background-color: #2b3951;
  width: 100%;
  position: absolute;
}

h2{
  text-align: center;
  color: white;
}

.images:hover .head-left{
  /* header:hover h1 means only apply the following css when the element
  is being hovered on */
  -webkit-transform: translateX(-50%);
  transform: translateX(-50px);
}

.images:hover .head-right{
  /* header:hover h1 means only apply the following css when the element
  is being hovered on */
  -webkit-transform: translateX(50%);
  transform: translateX(50px);
}

.images:hover .brain{
  /* header:hover h1 means only apply the following css when the element
  is being hovered on */
  top: -100px;
  -webkit-transform: translateY(50%);
  transform: translateY(100px);
}
