html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

.box-top{
  width: 100%;
  margin-top;
  padding: 50px 0px 0px 0px;
  background-color: #485d82;
}

body{
  margin: 0;
}

.images{
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.body{
  width: 320px;
  display: block;
}

.brain{
  position: absolute;
  width: 20%;
  top: 1em;
  right: 40%;
  -webkit-transform: translateX(50%);
  /* webkit allows the translateX command to work in safari but webkit must come first */
  transform: translateX(50%);
}

.head-left{
  position: absolute;
  width: 40%;
  top: -2.5em;
  right: 50%;
}

.head-right{
  position: absolute;
  width: 40%;
  top: -2.5em;
  left: 50%;
}

.box-bttm{
  background-color: #2b3951;
  width: 100%;
  position: absolute;
}

h2{
  text-align: center;
  color: white;
}

header:hover box-top{
  /* header:hover h1 means only apply the following css when the element
  is being hovered on */
  bottom: 1em;
}
